.index-counter{
    width: 100%;
    min-height: 500px;
    background-image: url('../img/bg-counter.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    padding: 85px 0; 
    background-attachment: fixed;
    position: relative;
    .counter-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        min-height: 500px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }
    .section-header{
        color: #D4AF37;
        font-family: 'Aviny';
        font-size: 45px;
        text-shadow: 1px 1px 1px #D4AF37;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .section-header-span{
        color: #fff;
        font-size: 13px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'IRSans';
    }
    .count-items{
        background-color: rgba(255,255,255 ,.8);
        max-width: 1000px;
        margin: 80px auto !important;
        transition: all ease-in-out .4s;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      
        .count-item{
            transition: all ease-in-out .4s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: column;
            margin: 15px 0;
            transition: all ease-in-out .4s;

            &:hover{
                .count{
                    transform: translateY(-3px);
                }
            }
            .count{
                width: 80px;
                transition: all ease-in-out .4s;
                height: 80px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $golden;
                font-size: 30px;
             //   margin-bottom: 20px;
                font-weight: bold;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            .title{
                margin: 15px;
                font-size: 15px;
                font-weight: bold;
                border-bottom: 3px solid $golden;
                padding: 5px 8px;
                color: #333;
            }
        }
    }
}  